html{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    background-color: lightskyblue;
}

h1{
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: black;
    text-shadow: 3px 3px 1px skyblue;

}

p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

body{
    width: 600px;
    margin: 0 auto;
    background-color: lightsteelblue;
    padding: 0 20px 20px 20px;
    border: 2px solid black;
}


img{

   display: block;
   margin: 0 auto;
}
